site
dist
__pycache__
grizabella/api/__pycache__
tests/integration/core/__pycache__
tests/integration/core/__pycache__
tests/unit/core/__pycache__
.env
*.pyc
memory_profile.txt
memory_profile.log
.vscode/settings.json
/*.log
typescript/test-embedding-*
